<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>创建型</key>
		<array>
			<dict>
				<key>patternChineseName</key>
				<string>简单工厂模式</string>
				<key>patternEnglishName</key>
				<string>Simple Factory Pattern</string>
				<key>patternTypeDescription</key>
				<string>类创建型</string>
				<key>studyDifficulty</key>
				<integer>2</integer>
				<key>useFrequency</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>工厂方法模式</string>
				<key>patternEnglishName</key>
				<string>Factory Method Pattern</string>
				<key>patternTypeDescription</key>
				<string>类创建型</string>
				<key>studyDifficulty</key>
				<integer>2</integer>
				<key>useFrequency</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>抽象工厂模式</string>
				<key>patternEnglishName</key>
				<string>Abstract Factory Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象创建型</string>
				<key>studyDifficulty</key>
				<integer>4</integer>
				<key>useFrequency</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>单例模式</string>
				<key>patternEnglishName</key>
				<string>Singleton Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象创建型</string>
				<key>studyDifficulty</key>
				<integer>1</integer>
				<key>useFrequency</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>原型模式</string>
				<key>patternEnglishName</key>
				<string>Prototype Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象创建型</string>
				<key>studyDifficulty</key>
				<integer>3</integer>
				<key>useFrequency</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>建造者模式</string>
				<key>patternEnglishName</key>
				<string>Builder Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象创建型</string>
				<key>studyDifficulty</key>
				<integer>4</integer>
				<key>useFrequency</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>结构型</key>
		<array>
			<dict>
				<key>patternChineseName</key>
				<string>适配器模式</string>
				<key>patternEnglishName</key>
				<string>Adapter Pattern</string>
				<key>patternTypeDescription</key>
				<string>类结构型/对象结构型</string>
				<key>studyDifficulty</key>
				<integer>2</integer>
				<key>useFrequency</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>桥接模式</string>
				<key>patternEnglishName</key>
				<string>Bridge Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象结构型</string>
				<key>studyDifficulty</key>
				<integer>3</integer>
				<key>useFrequency</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>组合模式</string>
				<key>patternEnglishName</key>
				<string>Composite Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象结构型</string>
				<key>studyDifficulty</key>
				<integer>3</integer>
				<key>useFrequency</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>装饰模式</string>
				<key>patternEnglishName</key>
				<string>Decorator Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象结构型</string>
				<key>studyDifficulty</key>
				<integer>3</integer>
				<key>useFrequency</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>外观模式</string>
				<key>patternEnglishName</key>
				<string>Facade Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象结构型</string>
				<key>studyDifficulty</key>
				<integer>1</integer>
				<key>useFrequency</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>享元模式</string>
				<key>patternEnglishName</key>
				<string>Flyweight Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象结构型</string>
				<key>studyDifficulty</key>
				<integer>4</integer>
				<key>useFrequency</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>代理模式</string>
				<key>patternEnglishName</key>
				<string>Proxy Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象结构型</string>
				<key>studyDifficulty</key>
				<integer>3</integer>
				<key>useFrequency</key>
				<integer>4</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>行为型</key>
		<array>
			<dict>
				<key>patternChineseName</key>
				<string>职责链模式</string>
				<key>patternEnglishName</key>
				<string>Chain of Responsibility Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象行为型</string>
				<key>studyDifficulty</key>
				<integer>3</integer>
				<key>useFrequency</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>命令模式</string>
				<key>patternEnglishName</key>
				<string>Command Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象行为型</string>
				<key>studyDifficulty</key>
				<integer>3</integer>
				<key>useFrequency</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>解释器模式</string>
				<key>patternEnglishName</key>
				<string>Interpreter Pattern</string>
				<key>patternTypeDescription</key>
				<string>类行为型</string>
				<key>studyDifficulty</key>
				<integer>5</integer>
				<key>useFrequency</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>迭代器模式</string>
				<key>patternEnglishName</key>
				<string>Iterator Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象行为型</string>
				<key>studyDifficulty</key>
				<integer>3</integer>
				<key>useFrequency</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>中介者模式</string>
				<key>patternEnglishName</key>
				<string>Mediator Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象行为型</string>
				<key>studyDifficulty</key>
				<integer>3</integer>
				<key>useFrequency</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>备忘录模式</string>
				<key>patternEnglishName</key>
				<string>Memento Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象行为型</string>
				<key>studyDifficulty</key>
				<integer>2</integer>
				<key>useFrequency</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>观察者模式</string>
				<key>patternEnglishName</key>
				<string>Observer Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象行为型</string>
				<key>studyDifficulty</key>
				<integer>3</integer>
				<key>useFrequency</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>状态模式</string>
				<key>patternEnglishName</key>
				<string>State Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象行为型</string>
				<key>studyDifficulty</key>
				<integer>3</integer>
				<key>useFrequency</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>策略模式</string>
				<key>patternEnglishName</key>
				<string>Strategy Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象行为型</string>
				<key>studyDifficulty</key>
				<integer>1</integer>
				<key>useFrequency</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>模板方法模式</string>
				<key>patternEnglishName</key>
				<string>Template Method Pattern</string>
				<key>patternTypeDescription</key>
				<string>类行为型</string>
				<key>studyDifficulty</key>
				<integer>2</integer>
				<key>useFrequency</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>patternChineseName</key>
				<string>访问者模式</string>
				<key>patternEnglishName</key>
				<string>Visitor Pattern</string>
				<key>patternTypeDescription</key>
				<string>对象行为型</string>
				<key>studyDifficulty</key>
				<integer>4</integer>
				<key>useFrequency</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
